<header class="app-header">
        <div class="app-header-logo">
            <a href="/" class="router-link-exact-active is-active">
                <img src="/img/logo.60e99242.svg" alt="">
            </a>
        </div>
        <div class="app-header-spacer"></div>
        <nav class="app-menu">
            <a href="/" class="item <%= locals.option==='inicio' ? 'is-active' : ' ' %> ">Inicio</a>
            <a href="/customer-story" class="item  <%= locals.option==='clientes' ? 'is-active' : ' ' %>">Clientes</a>
            <a href="/nosotros " class="item  <%= locals.option==='nosotros' ? 'is-active' : ' ' %>">Nosotros</a>
            <a href="/servicios" class="item  <%= locals.option==='servicios' ? 'is-active' : ' ' %>">Servicios</a>
            <a href="/contacto" class="item is-highlighted  <%= locals.option==='contacto' ? 'is-active' : ' ' %>">Contactanos</a>
        </nav>
        <div class="app-menu-mobile-btn"  onclick="menu_nav_click()">menu</div>
        <div class="app-menu-mobile is-hidden" id="menu_nav">
            <div class="app-menu-mobile-close" onclick="menu_nav_click()">close</div>
            <div class="app-menu-mobile-inner">
                <ul>
                    <li>
                        <a href="/" class="item  <%= locals.option=='inicio' ? 'option' : 'asd' %>">Inicio</a>
                    </li>
                    <li>
                        <a href="/Clientes" class="item">Clientes</a>
                    </li>
                    <li>
                        <a href="/nosotros" class="item">Nosotros</a>
                    </li>
                    <li>
                        <a href="/servicios" class="item">Servicios</a>
                    </li>
                    <!-- <li>
                        <a href="/process" class="item">process</a>
                    </li> -->
                    <li>
                        <a href="/contacto" class="item">Contactanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>